/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0; /* Es buena práctica asegurarse de que no haya márgenes por defecto */

  /* ✅ PEGA AQUÍ LAS LÍNEAS QUE CORTASTE */
  background: #f8fafc;
  font-family: "Nunito Sans";
}

/* En tu archivo index.css o App.css */

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
